<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Ada"/>
        <filter
          name="Assembly"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CSS"/>
        <filter
          name="CUDA"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="application">
        <dir
          name="sources">
          <dir
            name="ak">
            <dir
              name="inc"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="app">
            <dir
              name="screens"/>
          </dir>
          <dir
            name="common">
            <dir
              name="container"/>
          </dir>
          <dir
            name="driver">
            <dir
              name="Adafruit_ssd1306syp"/>
            <dir
              name="AsyncDelay">
              <dir
                name="src"/>
            </dir>
            <dir
              name="button"/>
            <dir
              name="buzzer"/>
            <dir
              name="eeprom"/>
            <dir
              name="flash"/>
            <dir
              name="gpio"/>
            <dir
              name="led"/>
            <dir
              name="nRF24"/>
          </dir>
          <dir
            name="libraries">
            <dir
              name="ArduinoJson">
              <dir
                name="extras">
                <dir
                  name="fuzzing"/>
                <dir
                  name="scripts">
                  <dir
                    name="wandbox"/>
                </dir>
                <dir
                  name="tests">
                  <dir
                    name="ElementProxy"/>
                  <dir
                    name="IntegrationTests"/>
                  <dir
                    name="JsonArray"/>
                  <dir
                    name="JsonDeserializer"/>
                  <dir
                    name="JsonDocument"/>
                  <dir
                    name="JsonObject"/>
                  <dir
                    name="JsonSerializer"/>
                  <dir
                    name="JsonVariant"/>
                  <dir
                    name="MemberProxy"/>
                  <dir
                    name="MemoryPool"/>
                  <dir
                    name="Misc"/>
                  <dir
                    name="MixedConfiguration"/>
                  <dir
                    name="MsgPackDeserializer"/>
                  <dir
                    name="MsgPackSerializer"/>
                  <dir
                    name="Numbers"/>
                  <dir
                    name="TextFormatter"/>
                  <dir
                    name="catch"/>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="ArduinoJson">
                  <dir
                    name="Array"/>
                  <dir
                    name="Collection"/>
                  <dir
                    name="Deserialization"/>
                  <dir
                    name="Document"/>
                  <dir
                    name="Json"/>
                  <dir
                    name="Memory"/>
                  <dir
                    name="Misc"/>
                  <dir
                    name="MsgPack"/>
                  <dir
                    name="Numbers"/>
                  <dir
                    name="Object"/>
                  <dir
                    name="Operators"/>
                  <dir
                    name="Polyfills">
                    <dir
                      name="gsl"/>
                    <dir
                      name="mpl"/>
                    <dir
                      name="type_traits"/>
                  </dir>
                  <dir
                    name="Serialization"/>
                  <dir
                    name="StringStorage"/>
                  <dir
                    name="Strings"/>
                  <dir
                    name="Variant"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="QRCode">
              <dir
                name="src"/>
            </dir>
            <dir
              name="nlohmann"/>
          </dir>
          <dir
            name="networks">
            <dir
              name="ArduinoZigBee"/>
            <dir
              name="mbmaster-v2.9.6">
              <dir
                name="demo">
                <dir
                  name="AT91SAM7X_FREERTOS">
                  <dir
                    name="FreeRTOS">
                    <dir
                      name="include"/>
                    <dir
                      name="portable">
                      <dir
                        name="IAR">
                        <dir
                          name="AtmelSAM7S64"/>
                      </dir>
                      <dir
                        name="MemMang"/>
                    </dir>
                  </dir>
                  <dir
                    name="IAR"/>
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="ATXMEGA">
                  <dir
                    name="src">
                    <dir
                      name="ASF">
                      <dir
                        name="common">
                        <dir
                          name="boards">
                          <dir
                            name="user_board"/>
                        </dir>
                        <dir
                          name="services">
                          <dir
                            name="clock">
                            <dir
                              name="xmega"/>
                          </dir>
                          <dir
                            name="ioport">
                            <dir
                              name="xmega"/>
                          </dir>
                          <dir
                            name="serial">
                            <dir
                              name="xmega_usart"/>
                          </dir>
                          <dir
                            name="sleepmgr">
                            <dir
                              name="xmega"/>
                          </dir>
                        </dir>
                        <dir
                          name="utils">
                          <dir
                            name="interrupt"/>
                        </dir>
                      </dir>
                      <dir
                        name="xmega">
                        <dir
                          name="drivers">
                          <dir
                            name="cpu"/>
                          <dir
                            name="nvm"/>
                          <dir
                            name="pmic"/>
                          <dir
                            name="sleep"/>
                          <dir
                            name="tc"/>
                          <dir
                            name="usart"/>
                        </dir>
                        <dir
                          name="utils">
                          <dir
                            name="assembler"/>
                          <dir
                            name="bit_handling"/>
                          <dir
                            name="preprocessor"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="config"/>
                    <dir
                      name="port"/>
                  </dir>
                </dir>
                <dir
                  name="AVR">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="AVR_NUTOS">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="BARE">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="CMX">
                  <dir
                    name="port"/>
                  <dir
                    name="support">
                    <dir
                      name="include">
                      <dir
                        name="mcf523x"/>
                    </dir>
                    <dir
                      name="src"/>
                  </dir>
                </dir>
                <dir
                  name="CORTEXM3">
                  <dir
                    name="Port"/>
                  <dir
                    name="System"/>
                </dir>
                <dir
                  name="CORTEXM3_LMS3XXXX_FREERTOS_LWIP">
                  <dir
                    name="FreeRTOS">
                    <dir
                      name="include"/>
                    <dir
                      name="portable">
                      <dir
                        name="GCC">
                        <dir
                          name="ARM_CM3"/>
                      </dir>
                      <dir
                        name="IAR">
                        <dir
                          name="ARM_CM3"/>
                      </dir>
                      <dir
                        name="MemMang"/>
                      <dir
                        name="RVDS">
                        <dir
                          name="ARM_CM3"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Stellarisware">
                    <dir
                      name="driverlib">
                      <dir
                        name="codesourcery"/>
                      <dir
                        name="ewarm"/>
                    </dir>
                    <dir
                      name="inc"/>
                    <dir
                      name="utils"/>
                  </dir>
                  <dir
                    name="ewarm"/>
                  <dir
                    name="lwip">
                    <dir
                      name="ports">
                      <dir
                        name="stellaris">
                        <dir
                          name="include">
                          <dir
                            name="arch"/>
                          <dir
                            name="netif"/>
                        </dir>
                        <dir
                          name="netif"/>
                      </dir>
                    </dir>
                    <dir
                      name="src">
                      <dir
                        name="api"/>
                      <dir
                        name="core">
                        <dir
                          name="ipv4"/>
                        <dir
                          name="ipv6"/>
                        <dir
                          name="snmp"/>
                      </dir>
                      <dir
                        name="include">
                        <dir
                          name="ipv4">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="ipv6">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="lwip"/>
                        <dir
                          name="netif"/>
                      </dir>
                      <dir
                        name="netif">
                        <dir
                          name="ppp"/>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="unit">
                        <dir
                          name="tcp"/>
                        <dir
                          name="udp"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="port"/>
                  <dir
                    name="rvmdk"/>
                </dir>
                <dir
                  name="EFORCE_UC3_UNET3_IAR_MASTER_ONLY">
                  <dir
                    name="Config"/>
                  <dir
                    name="Source">
                    <dir
                      name="port"/>
                  </dir>
                </dir>
                <dir
                  name="LINUX">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="LINUX-LWIP">
                  <dir
                    name="lwip">
                    <dir
                      name="src">
                      <dir
                        name="api"/>
                      <dir
                        name="core">
                        <dir
                          name="ipv4"/>
                        <dir
                          name="ipv6"/>
                        <dir
                          name="snmp"/>
                      </dir>
                      <dir
                        name="include">
                        <dir
                          name="ipv4">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="ipv6">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="lwip"/>
                        <dir
                          name="netif"/>
                        <dir
                          name="posix">
                          <dir
                            name="sys"/>
                        </dir>
                      </dir>
                      <dir
                        name="netif">
                        <dir
                          name="ppp"/>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="unit">
                        <dir
                          name="core"/>
                        <dir
                          name="etharp"/>
                        <dir
                          name="tcp"/>
                        <dir
                          name="udp"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="lwip-port">
                    <dir
                      name="check"/>
                    <dir
                      name="include">
                      <dir
                        name="arch"/>
                      <dir
                        name="netif"/>
                    </dir>
                    <dir
                      name="netif"/>
                  </dir>
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="LPC1758_LWIP">
                  <dir
                    name="FreeRTOS">
                    <dir
                      name="include"/>
                    <dir
                      name="portable">
                      <dir
                        name="GCC">
                        <dir
                          name="ARM_CM3"/>
                      </dir>
                      <dir
                        name="MemMang"/>
                    </dir>
                  </dir>
                  <dir
                    name="cmsis"/>
                  <dir
                    name="lwip">
                    <dir
                      name="ports">
                      <dir
                        name="nxp">
                        <dir
                          name="arch"/>
                        <dir
                          name="ethernetif">
                          <dir
                            name="LPC17xx"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="src">
                      <dir
                        name="api"/>
                      <dir
                        name="core">
                        <dir
                          name="ipv4"/>
                        <dir
                          name="ipv6"/>
                        <dir
                          name="snmp"/>
                      </dir>
                      <dir
                        name="include">
                        <dir
                          name="ipv4">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="ipv6">
                          <dir
                            name="lwip"/>
                        </dir>
                        <dir
                          name="lwip"/>
                        <dir
                          name="netif"/>
                      </dir>
                      <dir
                        name="netif">
                        <dir
                          name="ppp"/>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="unit">
                        <dir
                          name="tcp"/>
                        <dir
                          name="udp"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="MSP430">
                  <dir
                    name="System"/>
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="PIC18F">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="STM32">
                  <dir
                    name="Port"/>
                  <dir
                    name="Support"/>
                  <dir
                    name="System"/>
                  <dir
                    name="libstm32x">
                    <dir
                      name="include"/>
                    <dir
                      name="src"/>
                  </dir>
                </dir>
                <dir
                  name="SUPPORT"/>
                <dir
                  name="WIN32">
                  <dir
                    name="port"/>
                </dir>
                <dir
                  name="WIN32DLL">
                  <dir
                    name="Demo"/>
                  <dir
                    name="Demo_DynLoad"/>
                  <dir
                    name="port"/>
                </dir>
              </dir>
              <dir
                name="doc">
                <dir
                  name="examples"/>
              </dir>
              <dir
                name="mbmaster">
                <dir
                  name="ascii"/>
                <dir
                  name="common"/>
                <dir
                  name="functions"/>
                <dir
                  name="include">
                  <dir
                    name="common"/>
                  <dir
                    name="internal"/>
                </dir>
                <dir
                  name="rtu"/>
                <dir
                  name="tcp"/>
                <dir
                  name="udp"/>
              </dir>
              <dir
                name="tests">
                <dir
                  name="port"/>
              </dir>
              <dir
                name="tools"/>
            </dir>
            <dir
              name="net">
              <dir
                name="link">
                <dir
                  name="hal"/>
              </dir>
            </dir>
            <dir
              name="rf_protocols">
              <dir
                name="rf24">
                <dir
                  name="hal"/>
                <dir
                  name="nwk"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="platform">
            <dir
              name="stm32l">
              <dir
                name="Libraries">
                <dir
                  name="CMSIS">
                  <dir
                    name="Device">
                    <dir
                      name="ST">
                      <dir
                        name="STM32L1xx">
                        <dir
                          name="Include"/>
                        <dir
                          name="Source">
                          <dir
                            name="Templates">
                            <dir
                              name="TASKING"/>
                            <dir
                              name="TrueSTUDIO"/>
                            <dir
                              name="arm"/>
                            <dir
                              name="gcc_ride7"/>
                            <dir
                              name="iar"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Documentation">
                    <dir
                      name="Core">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="General">
                      <dir
                        name="html"/>
                    </dir>
                    <dir
                      name="RTOS">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="SVD">
                      <dir
                        name="html"/>
                    </dir>
                  </dir>
                  <dir
                    name="Include"/>
                  <dir
                    name="RTOS"/>
                </dir>
                <dir
                  name="STM32L1xx_StdPeriph_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="STM32_USB-FS-Device_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
              </dir>
              <dir
                name="arduino">
                <dir
                  name="cores">
                  <dir
                    name="stm32"/>
                </dir>
                <dir
                  name="libraries">
                  <dir
                    name="SPI"/>
                  <dir
                    name="Wire">
                    <dir
                      name="utility"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sys"/>
        </dir>
      </dir>
      <dir
        name="boot">
        <dir
          name="sources">
          <dir
            name="app"/>
          <dir
            name="common"/>
          <dir
            name="driver">
            <dir
              name="button"/>
            <dir
              name="eeprom"/>
            <dir
              name="flash"/>
            <dir
              name="led"/>
          </dir>
          <dir
            name="platform">
            <dir
              name="stm32l">
              <dir
                name="Libraries">
                <dir
                  name="CMSIS">
                  <dir
                    name="Device">
                    <dir
                      name="ST">
                      <dir
                        name="STM32L1xx">
                        <dir
                          name="Include"/>
                        <dir
                          name="Source">
                          <dir
                            name="Templates">
                            <dir
                              name="TASKING"/>
                            <dir
                              name="TrueSTUDIO"/>
                            <dir
                              name="arm"/>
                            <dir
                              name="gcc_ride7"/>
                            <dir
                              name="iar"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Documentation">
                    <dir
                      name="Core">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="General">
                      <dir
                        name="html"/>
                    </dir>
                    <dir
                      name="RTOS">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="SVD">
                      <dir
                        name="html"/>
                    </dir>
                  </dir>
                  <dir
                    name="Include"/>
                  <dir
                    name="RTOS"/>
                </dir>
                <dir
                  name="STM32L1xx_StdPeriph_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
              </dir>
              <dir
                name="arduino">
                <dir
                  name="SPI"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="sys"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Ada"/>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <ada_options
    count_and_or_operators="false"
    count_exception_handlers="true"
    count_for_loops="true"
    create_record_object_components="false"
    create_relations_between_formal_actual_parameters="false"
    display="Original"
    linkage_case="Lowercase"
    optimize_for_less_memory="false"
    preprocessor="None"
    prompt_on_parse_error="true"
    save_comments_associated_with_entities="true"
    version="Ada95"/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    warning_level="NoWarnings"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
